{% extends 'base.html.twig' %}

{% block title %}Gaetan Bonnemberger - Mention Légales{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="home">

    <h2>Mention Légales</h2>
    <div class="professionnel">
        <p>Nom de l'entreprise : Gaetan Bonnemberger</p>
        <p>Adresse : Arzens, Carcassonne, France</p>
        <p>Téléphone : 06 14 35 28 45</p>
        <p>Numéro SIRET : 834 984 494</p>
        <p>Hébergeur : o2switch RCS Clermont Ferrand Siret : 510 909 807 00032</p>
        <p>Politique de confidentialité : En ce qui concerne la confidentialité et la collecte de données, je tiens à rappeler que nous sommes soucieux de protéger les données personnelles de nos utilisateurs conformément à la législation en vigueur. Nous utilisons des cookies sur notre site Web dans le but de sauvegarder le thème choisi par l'utilisateur pour une expérience de navigation personnalisée. Ces cookies ne collectent aucune information personnelle identifiable. Nous tenons à souligner que la plupart des navigateurs Web acceptent automatiquement les cookies, mais vous pouvez généralement modifier les paramètres de votre navigateur pour refuser les cookies si vous préférez. En utilisant notre site Web, vous acceptez notre utilisation des cookies à des fins de personnalisation.
        En outre, nous souhaitons rappeler aux utilisateurs que notre portfolio utilise la fonction de scroll pour une meilleure expérience de navigation. Cette fonctionnalité permet aux visiteurs de parcourir facilement nos réalisations en un seul geste de scroll. Nous mettons tout en œuvre pour rendre votre expérience de navigation sur notre site Web la plus agréable et la plus fluide possible.</p>
        <p>Droits d'auteur et propriété intellectuelle : En ce qui concerne les droits d'auteur et la propriété intellectuelle, nous tenons à rappeler que les sujets de formation proposés sur notre site Web appartiennent exclusivement à l'école O'clock, notre partenaire de formation. Nous avons été autorisés à utiliser ces sujets de formation pour créer nos propres contenus et les proposer aux entreprises souhaitant bénéficier de nos services.</p>
        <p>Nous tenons également à souligner que tous les sites Web que nous créons pour nos clients sont réalisés en étroite collaboration avec eux. Nous sommes à l'écoute de leurs besoins et de leurs demandes tout au long du processus de création. Nous travaillons en étroite collaboration avec les entreprises concernées pour créer un site Web qui répond à leurs attentes tout en respectant les droits d'auteur et la propriété intellectuelle.</p>
        <p>Nous attachons une grande importance à la protection des droits d'auteur et de la propriété intellectuelle, et nous prenons toutes les mesures nécessaires pour nous assurer que nos services respectent les lois et réglementations en vigueur. Si vous avez des questions ou des préoccupations concernant les droits d'auteur ou la propriété intellectuelle, n'hésitez pas à nous contacter, nous serons ravis de vous aider.</p>
    </div>
</div>
{% endblock %}
