{% extends 'base.html.twig' %}

{% block title %}Gaetan Bonnemberger{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {# Coté droit #}
    <div class="home">
        <h3>Transformez votre vision en realité numérique</h3>
        <img src="{{ asset('assets/images/Facebook_Cover_Flambee_.jpg') }}" alt="Logo-GB" id ="BannerWeb"/>
            <div class="professionnel">
            <h4>Pourquoi prendre un professionnel ?</h4>

                <p>Embaucher un développeur web professionnel offre de nombreux avantages, tels que l'expertise technique avancée, la résolution rapide de problèmes, la personnalisation du site, l'amélioration de l'expérience utilisateur et le soutien technique continu. Cela permet également de gagner du temps pour se concentrer sur d'autres tâches importantes. En somme, l'embauche d'un professionnel garantit que votre site Web sera développé de manière professionnelle et de qualité.</p>

            <h4>Pourquoi faire appel à moi ?</h4>

                <p>En choisissant de travailler avec moi, vous bénéficierez de nombreux avantages. Tout d'abord, je suis disponible 6 jours sur 7 pour répondre à vos questions et vos besoins en matière de développement web. Je comprends l'importance de réagir rapidement pour répondre à vos demandes. De plus, je me déplace dans vos structures pour créer un lien humain et discuter en personne de vos projets.
                Mon entreprise est enregistrée à l'INSEE, ce qui garantit mon engagement envers la qualité de mon travail. Je suis en constante évolution et je me tiens informé des dernières tendances du web pour proposer à mes clients des solutions innovantes et adaptées à leurs besoins. Je suis convaincu que cette approche personnalisée et dynamique est la clé pour vous aider à atteindre vos objectifs et à vous démarquer de la concurrence. En travaillant avec moi, vous bénéficierez d'un service professionnel et de qualité, avec une attention particulière à vos besoins spécifiques.</p>

            </div>

    </div>
{% endblock %}
