{% extends 'base.html.twig' %}

{% block title %}Gaetan Bonnemberger{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="wrapper">

    <h1>Bienvenue</h1>

    <div class="portrait">

        <img id="portrait" src="{{ asset('assets/images/portrait.jpg') }}" alt="photo-portrait" class="mb-3">
        <h3>Gaetan Bonnemberger</h3>
        <p class="P1"><b>Diplomé du titre professionnel</b></p>
        <p class="P2">Développeur Web et Web Mobile</p>
        <p class="P3">O'clock</p>

    </div>

    <div class="Apropos">

        <h3>Biographie</h3>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam nisi corrupti dignissimos nesciunt repellendus voluptas dolor, voluptate error itaque doloribus nulla magni maxime ducimus vel dolorem nihil sapiente veniam excepturi?</p>

        <p>Crisse de viande à chien de crucifix de câlisse de ciboire de gériboire de saintes fesses de caltor de bout d'ciarge.</p>

        <p>Cimonaque de torrieux de tabarslaque de mangeux d'marde de Jésus de plâtre de cibouleau de maudit d'étole de sacrament de saint-cimonaque de mosus de saint-ciboire de cibole de verrat de ciboire de maudine de charogne de ciarge de mautadine de viande à chien de colon.</p>

        <div class="points">

            <div class="interets"><h4>Interets :</h4>                
                    <p>Culture générale<p>
                    <p>Histoire du monde</p>
                    <p>Plongée loisir (MF1)</p>
                    <p>Science: Ingenierie et conquetes spatiales<p>
                    <p>Etude des civilisations : Gastronomie, Histoire et Culture<p>                
            </div>
            <div class="formations"><h4>Formations :</h4>                
                    <p>Développeur Web et Web Mobile<p>
                    <p>Ecole o'clock</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, laborum pariatur doloribus deleniti aliquam ipsum aperiam sunt ratione rem quas!</p>                
            </div>

        </div>

    </div>

    {# Skills #}
    <section id="skills" class="container text-center mt-1">
        <h4>Skills</h4>
        <div class="skill">
            <div class=""><img src="https://img.icons8.com/ios/100/000000/css3.png"/><h5>Html/css</h5><p></p></div>
            <div class=""><img src="https://img.icons8.com/windows/100/null/bootstrap.png"/><h5>Framework</h5><p></p></div>    
            <div class=""><img src="https://img.icons8.com/ios/100/000000/php-logo.png"/><h5>PHP</h5><p></p></div>
            <div class=""><img src="https://img.icons8.com/windows/100/000000/symfony.png"/><h5>Symfony</h5><p></p></div>
            <div class=""><img src="https://img.icons8.com/external-those-icons-lineal-those-icons/100/null/external-Doctrine-social-media-those-icons-lineal-those-icons.png"/><h5>Doctrine</h5><p></p></div>
            <div class=""><img src="https://img.icons8.com/external-outline-juicy-fish/100/null/external-sql-coding-and-development-outline-outline-juicy-fish.png"/><h5>Database</h5><p></p></div> 
            <div class=""><img src="https://img.icons8.com/fluency-systems-regular/100/null/agile.png"/><h5>Agile</h5><p></p></div>
            <div class=""><img src="https://img.icons8.com/glyph-neue/100/null/github.png"/><h5>GitHub</h5><p></p></div>
        </div>
    </section>
</div>
{% endblock %}
