{% extends 'base.html.twig' %}

{% block title %}Gaetan Bonnemberger{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    {# Coté droit #}
        <div class="Apropos">

            <h3>Présentation</h3>

            <p>Je suis développeur web & mobile diplômé du titre professionnel DWWM,  j'ai acquis une expertise solide dans plusieurs technologies clés pour la programmation web. Je maîtrise parfaitement les langages de base tels que HTML, CSS pour la mise en page et la présentation des contenus. J'ai une grande expérience avec Git, un outil de versionnage très utile dans le développement collaboratif. Pour le développement dynamique des sites et applications, je suis spécialisé en PHP et JavaScript, deux langages essentiels pour créer des interfaces interactives et des fonctionnalités avancées. La gestion des données est également un aspect clé de mes compétences, grâce à ma connaissance approfondie de SQL.

            <p>Mon expérience m'a permis de maîtriser les concepts importants tels que Bootstrap, un framework CSS très populaire qui facilite grandement la mise en place de designs responsives et esthétiques. De même, le pattern MVC est pour moi une architecture fondamentale pour le développement d'applications web robustes et maintenables. La SEO, ou référencement naturel, est également un domaine que je maîtrise bien et qui est crucial pour permettre à un site d'être trouvé facilement sur les moteurs de recherche. Je suis également à l'aise avec les tâches de back-office et de sécurité, deux domaines essentiels pour la fiabilité et la sécurité d'un site web.</p>

            <p>Je suis également expérimenté avec les ORM, ou Object-Relational Mappers, qui permettent de faire le lien entre les bases de données et le code, ainsi qu'avec les API et AJAX, qui sont des technologies clés pour communiquer avec d'autres applications et services web. En plus de travailler avec Bootstrap, j'ai également une grande expérience avec d'autres frameworks tels que Symfony et son ORM Doctrine, ce qui me permet de gérer le déploiement de projets web avec efficacité.</p>

            <p>En tant que développeur web & mobile, je suis en mesure de créer des sites web et des applications mobiles hautement fonctionnels pour des entreprises de toutes tailles, dans différents secteurs d'activité. Je suis basé en Occitanie, à Carcassonne, mais je suis en mesure d'opérer partout en France.</p>

            <p>En travaillant avec moi, vous pouvez vous attendre à un service de haute qualité, qui prend en compte les dernières tendances et les meilleures pratiques de développement web. Je suis également passionné par mon travail et je suis constamment à la recherche de moyens d'améliorer mes compétences et mes connaissances en matière de développement web.</p>

            <p>Si vous cherchez à créer un site web ou une application mobile pour votre entreprise, n'hésitez pas à me contacter pour discuter de votre projet et de la façon dont je peux vous aider à le réaliser.</p>

            <div class="points">

                <div class="interets"><h4>Interets :</h4>                
                        <p>Culture générale<p>
                        <p>Histoire du monde</p>
                        <p>Plongée loisir (MF1)</p>
                        <p>Science: Ingenierie et conquetes spatiales<p>
                        <p>Etude des civilisations : Gastronomie, Histoire et Culture<p>                
                </div>
                
                <div class="formations"><h4>Formations :</h4>                
                        <p>Développeur Web et Web Mobile<p>
                        <p>Ecole o'clock</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, laborum pariatur doloribus deleniti aliquam ipsum aperiam sunt ratione rem quas!</p>                
                </div>

            </div>

        </div>
    
    </div>
    {# Skills #}
    <section id="skills" class="container text-center">
        <h4>Skills</h4>
        <div class="skill">
            <div><img src="https://img.icons8.com/ios/100/000000/css3.png" alt="icone-html"/><h5>Html/css</h5></div>
            <div><img src="https://img.icons8.com/windows/100/null/bootstrap.png" alt="icone-bootstrap"/><h5>Framework</h5></div>    
            <div><img src="https://img.icons8.com/ios/100/000000/php-logo.png" alt="icone-PHP"/><h5>PHP</h5></div>
            <div><img src="https://img.icons8.com/windows/100/000000/symfony.png" alt="icone-Symfony"/><h5>Symfony</h5></div>
            <div><img src="https://img.icons8.com/external-those-icons-lineal-those-icons/100/null/external-Doctrine-social-media-those-icons-lineal-those-icons.png" alt="icone-Doctrine"/><h5>Doctrine</h5></div>
            <div><img src="https://img.icons8.com/external-outline-juicy-fish/100/null/external-sql-coding-and-development-outline-outline-juicy-fish.png" alt="icone-SQL"/><h5>Database</h5></div> 
            <div><img src="https://img.icons8.com/fluency-systems-regular/100/null/agile.png" alt="icone-Agile"/><h5>Agile</h5></div>
            <div><img src="https://img.icons8.com/glyph-neue/100/null/github.png" alt="icone-github"/><h5>GitHub</h5></div>
        </div>
    </section>

    {# Experience #}
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                <h2>Experience</h2>
                </div>


                {# Dérouler CV #}
                <div class="col-12 col-lg-8">
                    <div class="row-experience">
                        <div class="card-exp">
                            <div class="card-body">
                                <h5 class="card-subtitle mt-0 mb1">City-Connect</h5>
                                <h6 class="card-subtitle mb-2 text-muted">BYS Connect</h6>
                                <div class="text-muted exp-meta">2022-present</div>
                                <p>Automation Platform development: End-to-end implementation of multiple microservices using test-driven development. These services are a part of VMware’s remediation and diagnostic automation platform used by SREs of different products to automate their operations. </p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mt-0 mb1">Projet fin de formation</h5>
                                <h6 class="card-subtitle mb-2 text-muted">O'clock</h6>
                                <div class="text-muted exp-meta">2022-present</div>
                                <p>Automation Platform development: End-to-end implementation of multiple microservices using test-driven development. These services are a part of VMware’s remediation and diagnostic automation platform used by SREs of different products to automate their operations. </p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mt-0 mb1">Projet fin de formation</h5>
                                <h6 class="card-subtitle mb-2 text-muted">O'clock</h6>
                                <div class="text-muted exp-meta">2022-present</div>
                                <p>Automation Platform development: End-to-end implementation of multiple microservices using test-driven development. These services are a part of VMware’s remediation and diagnostic automation platform used by SREs of different products to automate their operations. </p>
                            </div>
                        </div>
                    
                    </div>
                </div>



            </div>
        </div>
    
    
    </section>










</div>
{% endblock %}
