/*! dark mode !*/

.theme-dark {
    color: whitesmoke;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-size: cover;
    background-position: center;
    /* --border-normal: 1px solid rgba(255, 255, 255, .2);
    --color-bg: rgb(15, 15, 15);
    --color-opacity: rgba(255, 255, 255, .1); */
} 

/* Bouton : Dark-Mode */
  
.checkbox {
    opacity: 0;
    position: absolute;
    }

.label {
    width: 50px;
    height: 26px;
    background-color:#ccc;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

.fa-moon {
    color: whitesmoke;
}

.fa-sun {
    color: yellow;
}
  
  /* ! Mobile ! */
@media (max-width: 767px) {

.wrapper-contact,
.wrapper-portfolio > .left{
    display: none;
}
.wrapper-cityCo > .left{
    display: none;
}
.wrapper-trip > .left{
    display: none;
}
.wrapper-blog > .left{
    display: none;
}
.wrapper-contact > .left {
    display: none;
}

/* Body */

/* NavBar */
#logo{
    margin: 1rem;
}

.navbar-toggler{
    margin: 1rem;
}

#theme-switch{
    margin: 1rem;
}

body.theme-dark #theme-switch{
    margin: 1rem;
}

#navbarNav a {
    margin: 1rem;
    padding-left: 1rem;
}
body.theme-dark #navbarNav a {
    color:whitesmoke;
}

/* Wrapper */
.wrapper{
    text-align: center;
    margin: 1rem;
    background-color: #f9f9f9;
}

body.theme-dark .wrapper{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

#portrait {
    width: -webkit-fill-available;
    width: 70%;
    border-radius: 10%;  
}

h4{
    font-weight: bolder;
}

.skill{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;    
}

body.theme-dark #skills{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 800%, rgb(0, 0, 0) 99.4%);
}

/* Portfolio */

.wrapper-portfolio{
    text-align: center;
}

.wrapper-cityCo,
.wrapper-trip,
.wrapper-blog{
    text-align: center;
}

.card-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #f9f9f9; */
}

body.theme-dark .card-portfolio{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.card {
    margin: 1rem;
}

body.theme-dark .card {
    color:whitesmoke;
    background-size: cover;
    background-position: center;
}

#mobilcontainerCityCo{
    display: flex;
    overflow-x: scroll;
    width: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
    margin-bottom: 4rem;
    text-align: center;
}

#mobilcontainerCityCo>.card{
    flex: 0 0 100%;
    border-radius: 8px;
    scroll-snap-align: start;
  }

  /* Contact */

.wrapper-contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form {
    width: auto;
    margin: auto;
    padding: 20px;
    margin-bottom: 2rem;
    /* background-color: #f9f9f9; */
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

}

/* ! Version Tablette et + ! */

@media (min-width: 768px){

body.theme-dark #navbarNav{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: nowrap;
    align-items: center;
    /* border-bottom: 2px solid white */
}
body.theme-dark #navbarNav a {
    color:white;
}

/* Body */

.wrapper{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
}  

/* Coté gauche */
    
.left{
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
#portrait{
    border-radius: 13%;
    height: 30%;
}

h3{
    font-weight: bolder;
    
}

.P1{
    color: grey;
}

.P2{
    color: grey;
}

.link a{
    color: white;
}

/* Coté droit */

.right{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right p{
    padding: 0.5em 1.5em;
}

.points{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content:space-evenly;
    margin-top: 5rem;
}
h4{
    font-weight: bolder;
}

/* Skills */

#skills{
    width: 100%;
    background-color: #f9f9f9;
    padding-block: 1rem;
}
body.theme-dark #skills{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 800%, rgb(0, 0, 0) 99.4%);
}

.skill{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;    
}


/* Portfolio */

.wrapper-portfolio{
    display: flex;
    text-align: center;
}

.card-portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin-bottom: 1rem;
    width: 80%;
}

body.theme-dark .card{
    color: whitesmoke;
}

.wrapper-cityCo,
.wrapper-trip,
.wrapper-blog {
    display: flex;
    text-align: center;
}

#mobilcontainerCityCo{
    display: flex;
    justify-content: space-around;
}

/* Contact */

.wrapper-contact{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}


}
